.container {
  display: flex;
  background-color: var(--bg-light);
  color: var(--text);
  width: 100%;
}

.sidebarContainer {
  display: flex;
  height: 100%;
  width: 10%;
}

.contentContainer {
  width: 90%;
}
